.mainCont{
    width: 80%;
    background-color: rgb(95, 95, 79);
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 0 auto;

}
.cont{
    display: flex;
    justify-content: space-between;
    color: white;
    border-bottom: 2px solid white;
}